<mat-list role="list" fxLayout="row wrap" [fxLayoutGap]="itemGapPx">
  <mat-list-item
    *ngFor="let skill of skills"
    fxLayout="row"
    fxLayoutAlign="space-between"
    [style.width]="columnSize"
    role="listitem">
    <ng-container [ngSwitch]="!!skill.title">
      <span *ngSwitchCase="true" fxFlex="grow">{{ skill.title }}</span>
      <span *ngSwitchCase="false" fxFlex="grow" [translate]="getSkilli18nTittle(skill)"></span>
    </ng-container>
    <mat-progress-bar fxFlex="grow" mode="determinate" [value]="skill.meter"></mat-progress-bar>
  </mat-list-item>
</mat-list>
