<mat-toolbar>
  <button mat-icon-button (click)="menuToggle.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <div fxFlex="grow">
    <span translate="ProfileValues.Name" [style.marginRight.px]="10"></span>
    <span class="mat-caption" translate="ProfileValues.Role"></span>
  </div>
  <a fxFlex="noshrink" mat-flat-button [href]="contactData.githubCodeUrl">
    {{ 'ProfileValues.CheckoutCode' | translate }}
  </a>
  <button fxFlex="noshrink" mat-icon-button (click)="share.emit()">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
