<mat-toolbar>
  <button mat-icon-button (click)="menuToggle.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <div fxFlex="grow">
    <span translate="ProfileValues.Name" [style.marginRight.px]="10"></span>
    <span class="mat-caption" translate="ProfileValues.Role"></span>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #optionsMenu="matMenu">
    <a [href]="contactData?.githubCodeUrl" mat-menu-item translate="ProfileValues.CheckoutCode"></a>
    <button mat-menu-item (click)="share.emit()">
      <mat-icon>share</mat-icon>
      {{ 'GeneralLabels.Share' | translate }}
    </button>
  </mat-menu>
</mat-toolbar>
