<mat-card>
  <mat-card-header>
    <button *ngIf="onMobile" mat-card-avatar mat-icon-button (click)="menuToggle.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-card-title translate="ProfileValues.Name"></mat-card-title>
    <mat-card-subtitle translate="ProfileValues.Role"></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/profile_pic.jpg" [alt]="'ProfileValues.ImgAlt' | translate">
</mat-card>
<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <mat-card-title translate="SideContentTitles.Profile"></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p translate="SideContent.ProfileParagraph"></p>
  </mat-card-content>
</mat-card>
