<div fxLayout="column" fxLayoutGap="20px">
  <mat-card>
    <mat-card-header>
      <mat-card-title translate="SkillSetGroupsTitles.ProfessionalSkills"></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-skill-set [skills]="proSkills"></app-skill-set>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title translate="SkillSetGroupsTitles.DevelopmentTechs"></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-skill-set [skills]="devTechs"></app-skill-set>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title translate="SkillSetGroupsTitles.FrameworksLibraries"></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-skill-set [skills]="frameworksLibraries"></app-skill-set>
    </mat-card-content>
  </mat-card>
</div>
