<mat-sidenav-container autosize hasBackdrop="false">
  <mat-sidenav mode="push" fixedInViewport opened>
    <app-profile-container></app-profile-container>
    <app-side-skills-container [sideSkillsData]="sideSkillsJsonData$ | async"></app-side-skills-container>
    <app-contact-info-container [contactData]="contactJsonData$ | async"></app-contact-info-container>
  </mat-sidenav>
  <mat-sidenav-content fxLayoutAlign="center" fxLayout="row" [style.marginRight.px]="0">
    <div class="page-wrapper" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
      <app-skills-container [skillsData]="skillsJsonData$ | async"></app-skills-container>
      <app-events-container [eventsData]="eventsJsonData$ | async"></app-events-container>
    </div>
    <button class="language-fab" mat-fab color="primary" (click)="changeLanguage()">
      <mat-icon>language</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
