<mat-sidenav-container autosize hasBackdrop="false">
  <mat-sidenav mode="push" opened>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="page-wrapper">
      <div class="skills" *ngIf="jsonData$ | async">
        <mat-card>
          <mat-card-header>
            <mat-card-title [translate]="'SkillSetGroupsTitles.ProfessionalSkills'"></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-skill-set [skills]="proSkills$ | async"></app-skill-set>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
