/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-main > mat-sidenav-container {
  min-height: 100vh;

  mat-sidenav-content > .page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;
  }
}

app-skill-set,
app-event-set {
  mat-list > mat-list-item {
    .mat-list-item-content {
      width: 100%;
    }
  }
}
