/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-main > mat-sidenav-container {
  min-height: 100vh;

  mat-sidenav {
    max-width: 400px;
    min-width: 200px;
  }

  mat-sidenav-content > .page-wrapper {
    padding: 40px 15px;
    max-width: 1200px;
  }

  button.language-fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}

app-skill-set,
app-event-set {
  mat-list > mat-list-item {
    .mat-list-item-content {
      width: 100%;
    }
  }
}
